#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  min-height: 100vh;
  background: linear-gradient(33deg, #2C3930, #3F4F44, #A27B5C 40%, #DCD7C9 80%, #2C3930);
  background-size: 600% 600%;
  animation: gradientMove 32s ease-in-out infinite;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: 'Inter', sans-serif;
}