.header {
    position: sticky;
    font-family: 'Inter', sans-serif;
    top: 0;
    padding: 0.5rem 0rem;
    background: rgba(20, 11, 38, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    margin-left: auto;
    list-style: none;
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #f0f0f0;
}

.mobile-nav {
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
    list-style: none;
    z-index: 1001;
}

.mobile-nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s;
    font-size: 0.75rem;
}